@use '../abstracts/mixins' as *;

.rule {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;

	@include mobile {
		padding: 0 1rem;
	}

	&::after {
		content: '';
		display: block;
		border-top: 1px solid var(--accent-light);
	}
}
