APP_ENV=development
RESEND_TOKEN=re_xxxxxxxxx
RESEND_WEBHOOK_SECRET=whsec_xxxxxxxxx
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxx
YOUTUBE_API_KEY=xxxxxxxxx
GITHUB_TOKEN=
SCRAPER_API_KEY=
EMAIL_SEND_ADDRESS=
TURSO_URL=file:./godaily.db
TURSO_AUTH_TOKEN=
API_SECRET=
SLACK_TOKEN=
SLACK_CHANNEL=
VERCEL_DEPLOY_HOOK_URL=
BETTERSTACK_SEND_HEARTBEAT_URL=
BETTERSTACK_BUILD_HEARTBEAT_URL=
BETTERSTACK_COLLECT_HEARTBEAT_URL=
BETTERSTACK_SOCIAL_FEATURED_HEARTBEAT_URL=
BETTERSTACK_SOCIAL_ROTATION_HEARTBEAT_URL=
BLUESKY_HANDLE=
BLUESKY_APP_PASSWORD=
LINKEDIN_OAUTH_TOKEN=
LINKEDIN_ORG_URN=
MASTODON_SERVER=
MASTODON_APP_TOKEN=
