APP_ENV=development
RESEND_TOKEN=re_xxxxxxxxx
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxx
YOUTUBE_API_KEY=xxxxxxxxx
GITHUB_TOKEN=
EMAIL_SEND_ADDRESS=
TURSO_URL=file:./godaily.db
TURSO_AUTH_TOKEN=
API_SECRET=
VERCEL_DEPLOY_HOOK_URL=
BETTERSTACK_SEND_HEARTBEAT_URL=
BETTERSTACK_COLLECT_HEARTBEAT_URL=
