<!DOCTYPE html>
<html>
<body>
	<h2>GoDaily &mdash; {{ .Date.Format "January 2, 2006" }}</h2>
	{{ range .Sections }}
		<h3>{{ .Source.NiceName }}</h3>
		<ul>
			{{ range .Items }}
				<li>
					{{ if .ImageURL }}<img src="{{ .ImageURL }}" alt="" width="80" style="vertical-align:middle;border-radius:4px;margin-right:8px;">{{ end }}
					<a href="{{ or .OriginalURL .URL }}">{{ .Title }}</a>{{if .Author}} - {{ .Author }}{{ end }}
				</li>
			{{ end }}
		</ul>
	{{ end  }}
	{{ if .Suggestion }}
		<hr>
		<h3>Suggested posts</h3>
		<h4>Twitter</h4>
		<pre style="white-space: pre-wrap; font-family: inherit;">{{ .Suggestion.Twitter }}</pre>
		<h4>LinkedIn</h4>
		<pre style="white-space: pre-wrap; font-family: inherit;">{{ .Suggestion.LinkedIn }}</pre>
	{{ end }}
</body>
</html>
