package components

import "github.com/ainsleyclark/godaily/pkg/news"

templ DigestSection(emoji string, title string, items []news.Item, ranked bool) {
	<div class="email-preview__section-head">{ emoji + " " + title }</div>
	for i, item := range items {
		if ranked {
			@DigestItem(item, i+1)
		} else {
			@DigestItem(item, 0)
		}
	}
}
