package components

import "github.com/ainsleyclark/godaily/web/views/graphics"

templ Header() {
	<header class="header">
		<div class="header__inner">
			<a class="header__logo" href="/">
				@graphics.GopherLogo(34)
				<span>GoDaily</span>
			</a>
			@Nav()
		</div>
	</header>
}
